global
  log stdout format raw local0
defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s
frontend amqp
  bind *:5672
  default_backend rabbit_nodes
backend rabbit_nodes
  balance roundrobin
  option tcp-check
  server rabbitmq1 rabbitmq1:5672 check
  server rabbitmq2 rabbitmq2:5672 check
  server rabbitmq3 rabbitmq3:5672 check
